{{#partial "content"}}
    <div class="alert-danger jumborton" style="font-family: san-serif; padding:20px;">
        <p>Hey you cannot submit a form with empty fields kindly fill in all the fields before submitting.</p>
    </div>
{{/partial}}

{{> layout.hbs}}