{{#partial "content"}}
    <div class="r-index">
    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">Agric-Hub</h1>
        <p class="lead">We created a platform that allows farmers to sell there products online. There is price ranging to ensure fair prices to products available in this Hub.</p>
        <hr class="my-4">
        <p >You can either sign in as a farmer or a customer. As a farmer you are able to post your products for sale.</p>
    </div>
    </div>
{{/partial}}