{{#partial "content"}}
    <div class="row">
        <div class="col-md-6">
            <div class="Details">
                <tr>
                    <td>PRODUCTS AVAILABLE:</td>
                </tr>
                <tr>
                    <td> Product </td>

                </tr>
                {{#each supplies}}
                    <tr>
                        <td>
                            {{productName}}
                        </td>
                    </tr>
                {{/each}}
                <div class="row">
                    <div class="col-md-12">
                        <div class = "col-md-12">
                            <a class="btn btn-warning" href="/products/:id/edit">Edit</a>
                            <a class="btn btn-warning" href="/farmers/delete">DELETE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{{/partial}}
{{> layout.hbs}}