{{#partial "content"}}
    <div class="row">
        <div class="col-md-6">
            <div class="Prod">
                <p>PRODUCTS AVAILABLE:</p>
                {{#each products}}
                    <option value="{{id}}">{{name}} </option>

                        <a class="btn btn-primary btn-lg" href="/products/:id/edit">Edit</a>
                        <a class="btn btn-primary btn-lg" href="/farmers/delete">DELETE</a>

                {{/each}}
                <hr>
            </div>
        </div>
    </div>

{{/partial}}
{{> layout.hbs}}