{{#partial "content"}}
    <div class="row">
        <div class="col-md-6">
            <div class="Details">
                <p>PRODUCTS AVAILABLE:</p>
                {{#each products}}
                    <option value="{{id}}">{{name}} </option>
                {{/each}}
                <div class="row">
                    <div class="col-md-12">
                        <div class = "col-md-12">
                            <a class="btn btn-warning" href="/products/:id/edit">Edit</a>
                            <a class="btn btn-warning" href="/farmers/delete">DELETE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{{/partial}}
{{> layout.hbs}}