{{#partial "content"}}
    <div style="color:purple; font-family:Serif; text-align:center">
        <h1> List of Supplies</h1>
    </div>
    {{#if supplies}}
        {{#each supplies}}

        {{/each}}
    {{/if}}
{{/partial}}