{{#partial "content"}}
    <div class="r-supplyform">
        <form action="/supplies/new">
            <div class="form-group">
                <label for="farmers">Select farmer</label>
                <select id="farmers" name="farmers">
                    {{#each farmers}}
                        <option value = {{id}}>{{name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group"></div>
            <div class="form-group"></div>
        </form>
    </div>
{{/partial}}