{{#partial "content"}}
    <div style="color:purple; font-family:Serif; text-align:center">
        <h1> List of Supplies</h1>
    </div>
    {{#if supplies}}
        {{#each supplies}}
            <div class="card hero-card" style="margin: 20px; background-color:#eee; text-align:center; padding-top:10px; padding-bottom:10px;">

            </div>
        {{/each}}
    {{/if}}
{{/partial}}